virtual/
venv/
env/

db.sqlite3

.env
*.env

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg

build/
dist/

media/
staticfiles/

*.log
*.pot
*.pyc
*.pkl
*.sqlite3-journal
.DS_Store

.vscode/
.idea/
*.swp
Thumbs.db

*.pid
*.seed
*.tar
*.bak
docker-compose.override.yml

